{
    "Servers": {
        "1": {
            "Name": "IC GROUP Odoo DB",
            "Group": "Servers",
            "Host": "{{ odoo_db_host }}",
            "Port": 5432,
            "MaintenanceDB": "postgres",
            "Username": "odoo",
            "SSLMode": "prefer",
            "Service": "",
            "PassFile": "",
            "Comment": "Connection automatique vers Odoo DB"
        }
    }
}
