version: '3.5'

# Définition de l'application vitrine IC GROUP
# Definition of the IC GROUP showcase application

services:
  ic-webapp:
    image: {{ docker_image_name }}:{{ app_version }}
    container_name: {{ container_name }}
    ports:
      - "80:8080"
    restart: always
    # Les URLs sont extraites de releases.txt dans le container via script.sh
    # URLs are extracted from releases.txt inside the container via script.sh
    networks:
      - ic_network

networks:
  ic_network:
    driver: bridge
